<div class="grid-container leader-1">
  <div class="column-24 leader-1">
    <h1 class="font-size-7 text-center">Welcome To Angular Practice</h1>
  </div>
  <div class="column-24 leader-1">
    <div class="text-center">
      <img src="https://avatars0.githubusercontent.com/u/12819928?s=460&v=4" alt="Felipe Fernandez" />
    </div>
  </div>
  <div class="pre-2 column-20 post-2 leader-1">
    <p>
      This is a Welcome Page. The above is an image of me. This page is used to introduce visitors of what this site is
      about. This site is about building Angular applications. Below is some lorem ipsum I got from <a
        href="https://www.freeformatter.com/lorem-ipsum-generator.html">here</a> so this page can be more filled up.
      I'll add more content later.
    </p>
    <p>
      Slakoth froslass exeggutor samurott pelipper banette golett panpour monferno? Xatu marshtomp bellsprout breloom
      yanma
      pidgeot carracosta! Snubbull heatran froslass quilava exeggutor timburr baltoy anorith heatmor chinchou miltank
      torterra rampardos? Lombre pidove raichu, meganium klang shroomish simisear charmeleon kadabra surskit! Azurill
      patrat
      noctowl mewtwo tentacool unfezant luvdisc mamoswine qwilfish drifloon luxray. Paras probopass, duosion claydol
      pignite
      gothitelle larvesta pidgey. Tangrowth torchic zubat torterra golduck raticate amoonguss.
    </p>
    <p>
      Tirtouga rhydon forretress empoleon. Lanturn unown regice beedrill reuniclus golem durant altaria empoleon
      dunsparce
      leavanny wormadam. Deino serperior virizion vileplume weedle cubchoo tyrogue machop. Lopunny bronzong surskit
      purrloin
      vulpix nuzleaf croagunk unfezant arcanine weedle vanillish blastoise foongus. Pupitar voltorb rhyhorn zweilous
      heatmor
      kricketot muk venusaur cresselia nidorino magneton eevee skorupi. Gigalith forretress krabby sharpedo vileplume
      roselia houndour meloetta grovyle? Simisear anorith dragonair latias aggron glaceon zangoose lairon dialga
      articuno
      liepard luvdisc skarmory. Electabuzz zapdos bayleef.
    </p>
  </div>
</div>